<!-- THIS IS THE SHOPPING BAG TEMPLATE. -->
{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <!-- The overlay class will cover-up the background image. -->
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <!-- The 1st row & column contains the shopping bag heading 
                between 2 horizontal rules. -->
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <!-- The 2nd row & column will contain a table to show the bag contents. -->
                <!-- We added an if statement because we only want to render the table if 
                there's something in the shopping bag. -->
                {% if bag_items %}
                    <!-- For mobile layout, we'll create a div below with display block
                    & display medium none so it'll only display on mobile. -->
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">
                                {% include "bag/bag-total.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "bag/checkout-buttons.html" %}
                                <p class="text-muted mb-5">A summary of your bag contents is below</p>
                            </div>
                        </div>
                        {% for item in bag_items %}
                            <div class="row">
                                <!-- Each row will have 4 columns stacked on top of each other on 
                                extra small screens & side by side on small screens. -->
                                <!-- 1st column will hold the product image. -->
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/product-image.html" %}
                                </div>
                                <!-- The 2nd column will have the product info. -->
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/product-info.html" %}
                                </div>
                                <!-- The 3rd column will hold the price & subtotal. -->
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price Each: ${{ item.product.price }}</p>
                                    <p><strong>Subtotal: </strong>${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </div>
                                <!-- The 4th/last column will hold the quantity form. -->
                                <div class="col-12 col-sm-6">
                                    {% include "bag/quantity-form.html" %}
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                        <!-- Since this mobile layout could get quite long if there are lots 
                        of products, we'll give the user a quick way to get back to the top of 
                        the page by copying the back to top link from the products page along 
                        with its JavaScript. -->
                        <div class="btt-button shadow-sm rounded-0 border border-black">
                            <a class="btt-link d-flex h-100">
                                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                            </a>	
                        </div>
                    </div>
                    <!-- {{ bag_items }}
                    <br>
                    <br>
                    {{ request.session.bag }} -->
                <!-- We'll render this table on next line if there are items in the bag
                i.e render out the bag_item so we can see what we're working with. -->
                    <div class="table-responsive rounded d-none d-md-block">
                        <!-- We'll render the bag items here to test that it works. 
                        Also, we'll add some content to the shopping bag table to 
                        render out the list of items in the bag. The basis for this 
                        comes from using the classes & structure in the bootstrap 
                        docs. The basic idea is that we'll have 5 columns containing 
                        the product image, some info about it, the per-item price, the 
                        quantity & the subtotal for that item. Each row will be a new item -->
                        <!-- {{ bag_items }}. NOTE: The 2nd header is blank since the product 
                        info will span 2 columns. -->
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            <!-- Here within the table body, we'll iterate through each item in 
                            the shopping bag & create a row for each one. -->
                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <!-- This row handles the product image. This feature 
                                        has been moved to its own file named product-image.html 
                                        & referenced here below. -->
                                        {% include "bag/product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        <!-- This row handles the product description. This feature has 
                                        been moved to its own file named product-info.html & 
                                        referenced here below  -->
                                        {% include "bag/product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <!-- This form handles the price, quantity, total & 
                                        grand total & the feature has been moved to its own 
                                        file named quantity-form.html & referenced here below  -->
                                        {% include "bag/quantity-form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- In the 1st row below, we'll use the total, delivery charges,
                            grand_total & free delivery_delta to show the user a summary of 
                            their costs & entice them to spend a little more if they're under 
                            the free delivery threshold. This feature has been 
                            moved to its own file named bag-total.html & referenced here below -->
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "bag/bag-total.html" %}
                                </td>
                            </tr>
                            <!-- In the final row below, we'll render a 'Keep Shopping' button 
                            in case they're not done & a secure checkout button which will take 
                            them to the checkout page once it's created. This feature has been 
                            moved to its own file named checkout-buttons.html & referenced here below -->
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% include "bag/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                <!-- This will render a paragraph that says "your bag is empty" if no items in the bag. -->
                    <p class="lead mb-5">Your bag is empty.</p>
                    <!-- The anchor tag below contains href that gives users a link back to the products 
                        page after rendering the "your bag is empty" message to the user. -->
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- This is the JScript that handles the back to top link 
in our mobile layout. -->
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<!-- Below is the JScript to handle the 'Update' & 'Remove'  
elements on the shopping cart when it's clicked. -->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        /* The 'previous i.e prev' method will be used to find the most recently 
        seen update form in the Dom & store the form in a variable called 'form'. */ 
        var form = $(this).prev('.update-form');
        // Then we call the forms submit method.
        form.submit();
    })

    // Remove item and reload on click
    /* What we'll do in this section is post some data to a URL that 
    will be created later & once the response comes back from the server,
    the page is reloaded to reflect the updated bag. */
    $('.remove-item').click(function(e) {
        /* The CSRF token will be stored as a string in a variable called 
        csrfToken. NOTE that this uses the actual template variable with 
        the double curly brackets as opposed to the template tag which uses 
        the inner percent signs. This is bcos the former renders the actual 
        token while the latter renders a hidden input field in a form. */ 
        var csrfToken = "{{ csrf_token }}";
        /* To get the 'item id', we'll obtain it by splitting the ID of the 
        update link being clicked on at the underscore & taking the 2nd half 
        of it. We named the entire 1st part of the string here 'remove_' just 
        to be very explicit about what we're splitting. */ 
        var itemId = $(this).attr('id').split('remove_')[1];
        /* To get the size, we'll use the 'data' method to pull it from the data size attribute */ 
        var size = $(this).data('product_size');
        /*  We need URL which will be bag/remove/the itemId. This will be a template literal
        & we'll make this URL later. */ 
        var url = `/bag/remove/${itemId}/`;
        /* Lastly, we need data which is the object we'll use to send this data to the server
        which will contain a special key all in lowercase with no spaces called 'CSRF middleware 
        token' & our 'var csrfToken' above as its value & it'll contain the 'size' key & our 
        'var size' above as its value too. */ 
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        /* NOTE: The CSRF middleware token key must match the field Django is expecting
        to see in request.post when we post it to the server & we'll achieve that by 
        using the 'post' method from jQuery giving it both the URL and the data. */ 
        $.post(url, data)
        // When done, it'll execute a function to reload the page.
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}