/* This css rule will give this class a max height of 416px 
in case the user has a lot of orders. 416 px is the height 
of the form & the submit button in the adjacent column so above 
that height, the order history area will have a scrollbar. */
.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

/* Makes the text colour of the input black. */
#profile-update-form .form-control {
    color: #000;
}

/* This colours the profile forms placeholders appropriately. */
#profile-update-form input::placeholder {
    color: #aab7c4;
}

/* This makes the country field & all its options black by default 
except for the 1st one . */
#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

/* This makes the 1st option element the colour of the placeholder. */
#id_default_country option:first-child {
    color: #aab7c4;
}