<!--  THE CONTENT OF THIS PAGE WILL BE INCLUDED IN THE BASE TEMPLATE. -->

<!-- We'll start with the boilerplate from bootstrap which is a div with 'collapse' & 
'navbar-collapse' classes. We'll give it an id of 'main-nav' to match it up with the 
toggle button we put into the base template. -->
<div class="collapse navbar-collapse" id="main-nav">
    <!--  This unordered list uses the required class from bootstrap & others to make 
    it auto width, auto left & right margins. The shell of all this code comes from the 
    bootstrap documentation so we use that as the base & then customize it. -->
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <!-- This is a link that says 'All Products' which triggers a drop-down of 
            4 other href links below it. This menu will allow the user to 
            either see all products at once or sort them by price, rating or category. -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <!-- Here in the 'All Products' menu, we'll add some links to the products view
            with 2 new get parameters namely sort and direction. When using this menu, the 
            default will be to sort in ascending order but we'll add more functionality on 
            the products page to handle other sorting methods. The fields infront of the 
            equals to are fields on the product model in models.py which means we could add
            additional functionality here if we wanted such as sorting by SKU or whether or 
            not the product has an image. -->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction+asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction+desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction+asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- NOTE: Using programmatic & friendly names in each of our drop down lists 
        are nice since we can use the programmatic name in the URLs here & we'll be 
        able to render the friendly name in our templates. -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <!-- For the 1st drop-down menu i.e clothing, the 1st link below will point to 
                the products URL followed by a question mark to indicate we're about to pass 
                the category parameter followed by activewear & essentials separated by a 
                comma. This syntax ensures we end up with a comma-separated string in the view. -->
                <a href="{% url 'products' %}?category=activewear,essentials" class="dropdown-item">Activewear &amp; Essentials</a>
                <a href="{% url 'products' %}?category=jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=activewear,essentials,jeans,shirts" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=bed_bath" class="dropdown-item">Bed &amp; Bath</a>
                <a href="{% url 'products' %}?category=kitchen_dining" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="{% url 'products' %}?category=bed_bath,kitchen_dining" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>